<div class="col-12" *ngFor="let unidad of unidades">
  <mat-toolbar class="bg-black text-light">
    <span>
      <p> {{unidad.nombre.toUpperCase()}} </p>
    </span>
  </mat-toolbar>
  <div class="d-flex flex-row">
    <div class="col-2">
      <div class="container-fluid h-100">
        <div class="row h-100 w-100">
          <div class="w-100 mat-elevation-z4 p-0 m-0">
            <app-listarmoduloporunidad [idUnidad]="unidad.idUnidad"></app-listarmoduloporunidad>
            <button mat-raised-button color="primary" style="height: auto" class="w-100 p-1 m-0" [routerLink]="['/components/unidad', unidad.idUnidad, 'proyecto', unidad.idUnidad]">
              Proyecto
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
