@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto&display=swap');
body {
    background-color: #f8f9fa;
    font-family: 'Roboto';
}

.informacioncurso {
    display: flex;
    flex-wrap: wrap;
}

.example-card {
    width: 300px;
    margin: 10px;
}

h2, h3{
    font-family: 'Roboto';
    text-align: center;
    font-size: 30px;
    padding: 5px;
}
.icon{
    padding-right: 30px;
    font-size: 26px;
}
.titulo{
    padding: 2rem 0 2rem 0;
}

.icon2{
    text-align: center;
    padding: 5px 30px 0 0;
}
.button:hover{
    color: #1E2EDE;
}


