<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <ng-container *ngIf="verificar() && this.role=='ADMIN'; else notAdmin">
    <mat-toolbar class="bg-black text-light">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>
        <p>Nuestras Entidades</p>
      </span>
    </mat-toolbar>
    <div class="containeradmin">
      <mat-sidenav-container class="containeradmin2">
        <mat-sidenav #sidenav mode="side" opened="true" class="custom-sidenav">
          <mat-nav-list class="custom-nav-list">
            <button mat-stroked-button [matMenuTriggerFor]="menuLectura">
              <mat-icon>book</mat-icon><div class="font">Lectura</div></button><br>
            <button mat-stroked-button [matMenuTriggerFor]="menuModulo"><mat-icon>folder</mat-icon>Modulo</button><br>
            <button mat-stroked-button [matMenuTriggerFor]="menuPregunta">
              <mat-icon>question_answer</mat-icon>Pregunta</button><br>
            <button mat-stroked-button [matMenuTriggerFor]="menuAlternativa">
              <mat-icon>beenhere</mat-icon> Alternativa</button><br>
            <button mat-stroked-button [matMenuTriggerFor]="menuEstudiante">
              <mat-icon>person_pin</mat-icon> Estudiante</button><br>
            <button mat-stroked-button
              [matMenuTriggerFor]="menuPreguntaalternativa"><mat-icon>question_answer</mat-icon>Preguntaalternativa</button><br>
            <button mat-stroked-button [matMenuTriggerFor]="menuProgreso"><mat-icon>
                show_chart</mat-icon>Progreso</button><br>
            <button mat-stroked-button [matMenuTriggerFor]="menuProyecto"><mat-icon>
                insert_drive_file</mat-icon>Proyecto</button><br>
            <button mat-stroked-button [matMenuTriggerFor]="menuQuizz"><mat-icon>note_add</mat-icon>Quizz</button><br>
            <button mat-stroked-button [matMenuTriggerFor]="menuRole"><mat-icon>person_add</mat-icon>Role</button><br>
            <button mat-stroked-button [matMenuTriggerFor]="menuUnidad"><mat-icon>
                insert_drive_file</mat-icon>Unidad</button><br>
            <button mat-stroked-button
              [matMenuTriggerFor]="menuUnidadmodulo"><mat-icon>folder_shared</mat-icon>Unidadmodulo</button><br>
            <button mat-stroked-button [matMenuTriggerFor]="menuUsers"><mat-icon>
                person_pin</mat-icon>Users</button><br>
            <button mat-stroked-button [matMenuTriggerFor]="menuVideo"><mat-icon>music_video</mat-icon>Video</button><br>
            <button mat-stroked-button
              [matMenuTriggerFor]="menuCursounidad"><mat-icon>folder_shared</mat-icon>Cursounidad</button><br>
            <button mat-stroked-button [matMenuTriggerFor]="menuCurso"><mat-icon>folder</mat-icon>Curso</button><br>
            <button mat-stroked-button [matMenuTriggerFor]="menuRevision"><mat-icon>people</mat-icon>Revision</button><br>
            <button mat-stroked-button [matMenuTriggerFor]="menuEstudiantepregunta"><mat-icon>school</mat-icon>Estudiantepregunta</button><br>
            <button mat-stroked-button [matMenuTriggerFor]="menuEstudiantequizz"><mat-icon>school</mat-icon>Estudiantequizz</button><br>
            <button mat-stroked-button [matMenuTriggerFor]="menuEstudiantecurso"><mat-icon>note_add</mat-icon>Estudiantecurso</button><br>
          </mat-nav-list>
        </mat-sidenav>
        <div class="containeradmin4">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-container>
    </div>
    <div class="containeradmin3">
      <mat-menu #menuAlternativa="matMenu">
        <button class="buttonadmin" mat-menu-item routerLink="./alternativa/nuevo">Registrar</button>
        <button class="buttonadmin" mat-menu-item routerLink="./alternativa">Listar</button>
      </mat-menu>
      <mat-menu #menuEstudiante="matMenu">
        <button class="buttonadmin" mat-menu-item routerLink="./estudiante/nuevo">Registrar</button>
        <button class="buttonadmin" mat-menu-item routerLink="./estudiante">Listar</button>
      </mat-menu>
      <mat-menu #menuLectura="matMenu">
        <button class="buttonadmin" mat-menu-item routerLink="./lectura/nuevo">Registrar</button>
        <button class="buttonadmin" mat-menu-item routerLink="./lectura">Listar</button>
      </mat-menu>
      <mat-menu #menuModulo="matMenu">
        <button mat-menu-item routerLink="./modulo/nuevo">Registrar</button>
        <button mat-menu-item routerLink="./modulo">Listar</button>
      </mat-menu>
      <mat-menu #menuPregunta="matMenu">
        <button mat-menu-item routerLink="./pregunta/nuevo">Registrar</button>
        <button mat-menu-item routerLink="./pregunta">Listar</button>
      </mat-menu>
      <mat-menu #menuPreguntaalternativa="matMenu">
        <button mat-menu-item routerLink="./preguntaalternativa/nuevo">Registrar</button>
        <button mat-menu-item routerLink="./preguntaalternativa">Listar</button>
      </mat-menu>
      <mat-menu #menuProgreso="matMenu">
        <button mat-menu-item routerLink="./progreso/nuevo">Registrar</button>
        <button mat-menu-item routerLink="./progreso">Listar</button>
      </mat-menu>
      <mat-menu #menuProyecto="matMenu">
        <button mat-menu-item routerLink="./proyecto/nuevo">Registrar</button>
        <button mat-menu-item routerLink="./proyecto">Listar</button>
      </mat-menu>
      <mat-menu #menuQuizz="matMenu">
        <button mat-menu-item routerLink="./quizz/nuevo">Registrar</button>
        <button mat-menu-item routerLink="./quizz">Listar</button>
      </mat-menu>
      <mat-menu #menuRole="matMenu">
        <button mat-menu-item routerLink="./role/nuevo">Registrar</button>
        <button mat-menu-item routerLink="./role">Listar</button>
      </mat-menu>
      <mat-menu #menuUnidad="matMenu">
        <button mat-menu-item routerLink="./unidad/nuevo">Registrar</button>
        <button mat-menu-item routerLink="./unidad">Listar</button>
      </mat-menu>
      <mat-menu #menuUnidadmodulo="matMenu">
        <button mat-menu-item routerLink="./unidadmodulo/nuevo">Registrar</button>
        <button mat-menu-item routerLink="./unidadmodulo">Listar</button>
      </mat-menu>
      <mat-menu #menuUsers="matMenu">
        <button mat-menu-item routerLink="./users/nuevo">Registrar</button>
        <button mat-menu-item routerLink="./users">Listar</button>
      </mat-menu>
      <mat-menu #menuVideo="matMenu">
        <button mat-menu-item routerLink="./video/nuevo">Registrar</button>
        <button mat-menu-item routerLink="./video">Listar</button>
      </mat-menu>
      <mat-menu #menuCursounidad="matMenu">
        <button mat-menu-item routerLink="./cursounidad/nuevo">Registrar</button>
        <button mat-menu-item routerLink="./cursounidad">Listar</button>
      </mat-menu>
      <mat-menu #menuCurso="matMenu">
        <button mat-menu-item routerLink="./curso/nuevo">Registrar</button>
        <button mat-menu-item routerLink="./curso">Listar</button>
      </mat-menu>
      <mat-menu #menuRevision="matMenu">
        <button mat-menu-item routerLink="./revision/nuevo">Registrar</button>
        <button mat-menu-item routerLink="./revision">Listar</button>
      </mat-menu>
      <mat-menu #menuEstudiantepregunta="matMenu">
        <button mat-menu-item routerLink="./estudiantepregunta/nuevo">Registrar</button>
        <button mat-menu-item routerLink="./estudiantepregunta">Listar</button>
      </mat-menu>
      <mat-menu #menuEstudiantequizz="matMenu">
        <button mat-menu-item routerLink="./estudiantequizz/nuevo">Registrar</button>
        <button mat-menu-item routerLink="./estudiantequizz">Listar</button>
      </mat-menu>
      <mat-menu #menuEstudiantecurso="matMenu">
        <button mat-menu-item routerLink="./estudiantecurso/nuevo">Registrar</button>
        <button mat-menu-item routerLink="./estudiantecurso">Listar</button>
      </mat-menu>
    </div>
  </ng-container>
  <ng-template #notAdmin class="not-admin-container">
    <div class="not-admin-icon">
      <i class="fa-solid fa-circle-exclamation fa-5x mb-3"></i>
      <h4 class="mat-headline-4 text-center">Not an admin, ups!</h4>
      <button mat-raised-button color="warning" routerLink="" color="warn" class="not-admin-button">Take me back!</button>
    </div>
  </ng-template>
</body>
</html>