<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Document</title>
</head>

<body>
<div class="container" style="text-align: center">
<h2>Registro de cursounidad</h2>
<form [formGroup]="form" (submit)="aceptar()" class="example-form">
<!-- id -->
<mat-form-field class="example-full-width" *ngIf="edicion">
<mat-label>idCursounidad</mat-label>
<input matInput placeholder="Id" formControlName="idCursounidad"/>
</mat-form-field>
<br />
<!-- Form fields for each attribute -->
<!-- NOTE: Only components with foreign key-->
<mat-form-field class="example-full-width">
<mat-label>curso</mat-label>
<mat-select formControlName="curso">
<mat-option *ngFor="let tipo of listaCurso" [value]="tipo.idCurso">
{{tipo.idCurso}}
</mat-option>
</mat-select>
<mat-error *ngIf="obtenerControlCampo('curso')?.errors?.['required']">
curso es obligatorio.
</mat-error>
</mat-form-field>
<br />
<!-- NOTE: Only components with foreign key-->
<mat-form-field class="example-full-width">
<mat-label>unidad</mat-label>
<mat-select formControlName="unidad">
<mat-option *ngFor="let tipo of listaUnidad" [value]="tipo.idUnidad">
{{tipo.idUnidad}}
</mat-option>
</mat-select>
<mat-error *ngIf="obtenerControlCampo('unidad')?.errors?.['required']">
unidad es obligatorio.
</mat-error>
</mat-form-field>
<br />
<!-- Buttons for actions -->
<button mat-raised-button color="primary">Aceptar</button>
<button mat-raised-button color="warn" routerLink="/components/entidades/cursounidad">
Cancelar
</button>
<p>{{ mensaje }}</p>
</form>
</div>
</body>

</html>
