<div class="container-fluid h-100">
  <div class="row h-100 w-100">
    <div class="w-100 mat-elevation-z4">
      <mat-sidenav-container class="w-100">
        <mat-sidenav-content class="w-100">
          <div *ngFor="let unidadmodulo of unidadesmodulos">
            <button mat-button style="height: auto" class="w-100" [routerLink]="['/informacionunidad', unidadmodulo.unidad.idUnidad, 'modulo', unidadmodulo.modulo.idModulo]">
              {{unidadmodulo.modulo.nombre}}
            </button><br>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</div>
