mat-sidenav-content {
  overflow: visible;
  padding: 20px;
}

span p {
    font-weight: 300;
    margin: 0;
    padding: 28px 8px;
    font-size: 20px;
}

mat-sidenav-content button {
  font-family: var(--mdc-list-list-item-label-text-font);
  line-height: var(--mdc-list-list-item-label-text-line-height);
  font-size: var(--mdc-list-list-item-label-text-size);
  font-weight: var(--mdc-list-list-item-label-text-weight);
  letter-spacing: var(--mdc-list-list-item-label-text-tracking);
}

mat-toolbar {
  height: 80px;
}

