<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Document</title>
</head>

<body>
<div class="container" style="text-align: center">
<h2>Registro de lectura</h2>
<form [formGroup]="form" (submit)="aceptar()" class="example-form">
<!-- id -->
<mat-form-field class="example-full-width" *ngIf="edicion">
<mat-label>idLectura</mat-label>
<input matInput placeholder="Id" formControlName="idLectura"/>
</mat-form-field>
<br />
<!-- Form fields for each attribute -->
<!-- NOTE : Only if is not of type LocalDate -->
<mat-form-field class="example-full-width">
<mat-label>descripcion</mat-label>
<input matInput placeholder="descripcion" formControlName="descripcion"/>
<mat-error *ngIf="obtenerControlCampo('descripcion')?.errors?.['required']">
descripcion es obligatorio.
</mat-error>
</mat-form-field>
<br />
<!-- NOTE : Only if is not of type LocalDate -->
<mat-form-field class="example-full-width">
<mat-label>titulo</mat-label>
<input matInput placeholder="titulo" formControlName="titulo"/>
<mat-error *ngIf="obtenerControlCampo('titulo')?.errors?.['required']">
titulo es obligatorio.
</mat-error>
</mat-form-field>
<br />
<!-- NOTE : Only if is not of type LocalDate -->
<mat-form-field class="example-full-width">
<mat-label>autor</mat-label>
<input matInput placeholder="autor" formControlName="autor"/>
<mat-error *ngIf="obtenerControlCampo('autor')?.errors?.['required']">
autor es obligatorio.
</mat-error>
</mat-form-field>
<br />
<!-- NOTE: Only components with foreign key-->
<mat-form-field class="example-full-width">
<mat-label>modulo</mat-label>
<mat-select formControlName="modulo">
<mat-option *ngFor="let tipo of listaModulo" [value]="tipo.idModulo">
{{tipo.idModulo}}
</mat-option>
</mat-select>
<mat-error *ngIf="obtenerControlCampo('modulo')?.errors?.['required']">
modulo es obligatorio.
</mat-error>
</mat-form-field>
<br />
<!-- Buttons for actions -->
<button mat-raised-button color="primary">Aceptar</button>
<button mat-raised-button color="warn" routerLink="/components/entidades/lectura">
Cancelar
</button>
<p>{{ mensaje }}</p>
</form>
</div>
</body>

</html>
