<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" style="text-align: center">
        <h2>Registro de preguntas</h2>
        <form [formGroup]="form" (submit)="aceptar()" class="example-form">
          <mat-form-field class="example-full-width" *ngIf="edicion">
            <mat-label>idPregunta</mat-label>
            <input matInput placeholder="Id" formControlName="idPregunta" />
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
            <mat-label>Pregunta</mat-label>
            <input matInput placeholder="Pregunta" formControlName="pregunta" />
            <mat-error
              *ngIf="obtenerControlCampo('pregunta')?.errors?.['required']"
            >
              El nombre es obligatorio.
            </mat-error>
          </mat-form-field>
          <br />

          <button mat-raised-button color="primary">Aceptar</button>
          <button mat-raised-button color="warn" routerLink="/postres">
            Cancelar
          </button>
          <p>{{ mensaje }}</p>
        </form>
      </div>
</body>
</html>