<nav>
  <mat-toolbar class="bg-black text-light" style="height: 25px;">
    <a href="https://trello.com/b/kKd2ScJB/aymaraacademia-backlog">
      <button mat-button style="height: 20px;"><u class="text-light">Trello</u></button>
    </a>
    <a href="https://github.com/hous3master/aymaraacademiaapp">
      <button mat-button style="height: 20px;"><u class="text-light">GitHub</u></button>
    </a>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/entidades" style="height: 20px;"><u>CRUD de las 16 entidades (independientes y
        dependientes)</u></button>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/informacionunidad/1/modulo/1" style="height: 20px;"><u>DEMO funcional</u></button>
  </mat-toolbar>
  <mat-toolbar color="primary">
    <span class="toolbar-items">
      <button mat-button class="m-3">
        <span>
          <mat-icon svgIcon="logo" src="../assets/logoipsum-226.svg"></mat-icon>
          <span class="mat-subtitle-2">Aymara Academia</span>
        </span>
      </button>

      <button mat-flat-button routerLink="/landing">Explorar</button>
      <button mat-button routerLink="/landing">¿Quienes somos?</button>
      <button mat-button routerLink="/landing">Recursos</button>
      <button mat-button routerLink="/landing">Contáctanos</button>
    </span>

    <span class="example-spacer"></span>

    <span class="toolbar-items">
      <button mat-button routerLink="/landing">Inicia Sesión</button>
      <button mat-flat-button routerLink="/landing">Únete de forma gratuita</button>
    </span>
  </mat-toolbar>
</nav>
